body {text-align:center;}
#layout {width:70%;margin-left:15%;}
.header {font-size:150%;font-weight:bold;text-align:center;padding:5px;}
.instrux {font-size:14px;text-align:center;padding:10px;}
#chapterid {width:3em;padding:1px 3px;text-align:center;}
#codyidform {text-align:left;margin:10px;font-size:14px;border:2px solid #f4e4b0;border-radius:10px;overflow:auto;padding:5px;background-color:#f8f8f0;}
#nameform {margin:10px;font-size:14px;border:2px solid #f4e4b0;border-radius:10px;overflow:auto;padding:5px;background-color:#f8f8f0;}
#nameform-table {display:block;padding:10px;}
.nameform-div {float:left;margin:2px 5px 2px 20px;padding:1px;display:block;}
div { font-family:'Open Sans'; }
div.formrow {padding:5px;}
a {color: #1A30B7;text-decoration: none;}

input,select {font-size:14px;font-family:'Open Sans';}
label.required {color:#c00;font-weight:bold;width:150px;}
input.button {color:#444;font-weight:bold;font-size:16px;margin:0 5px;padding:2px 10px;
			border:1px solid #b29269;background-color:#f4e4b0;cursor:pointer;}
input.button:hover {color:#a00;opacity:0.99;border:1px solid #000;}
input.textbox {background-color: #fefeff; border:1px inset #aaa;padding:1px 2px;margin-bottom:5px;}
input.chapterid {width:40px;}
input.name {width: 120px;}
input.suffix {width: 40px;}
input.town {width: 120px;}
input.region {width: 120px;}
input.cemetery {width: 240px}
input.day {width: 40px;}
input.year {width: 60px;}
input.required {background-color: #fefac5;}
input.nobackground {background-color: #ffffff;       border-style: inset;       border-width: 0px;}


#family-info { word-wrap:break-word;padding:10px;font-size:110%;clear:both;}
#lineage {display:none; word-wrap:break-word;padding:0px;font-size:120%;}

div.person {border:2px solid #ccc;margin:3px 0px 0px 0px;padding:2px;font-size:14px;font-weight:bold;}
div.person label {margin-left:10px;margin-right:5px;font-weight:normal;}
div.person-row {margin-bottom:2px;padding:1px;}
div.data-row {border:1px solid #bbb;padding:2px;margin-bottom:0px;padding:1px;font-weight:normal;font-family:arial-narrow;}
div.marriage-row {margin:2px 2px 2px 4px;}
span.notknown {font-size:12px;}
.user-message {font-style:italic; color:#044;padding-left:10px;min-width:100px;}
.info-message {color:#333;font-family:garamond;text-align:center;padding:15px;font-size:18px;
				font-weight:bold;width:80%;border:1px #888 solid;background-color:#f8f8f8;margin-bottom:10px;}

.codyidspan {margin-right:20px;font-weight:bold;font-size:120%;padding:2px;}

/* edit-window starts as a template, display none*/
.edit-window {display:none;border:1px solid #888;padding:4px;font-size:14px;color:#330;width:100%;max-width:100%;font-weight:normal;}
.edit-window label {margin-right:2px;}
.edit-window-header {border:1px solid #f4a460;margin:5px;padding:5px;font-size:14px;}
.edit-window-header-row {line-height:1.5em;width:auto;}
.row-header {font-weight:bold;font-size:16px;font-variant:small-caps;font-family:arial-narrow;font-weight:normal;margin-right:2px;}
.row-sub-header	 {margin-left:5px;}

.edit-form {border:0;margin:0px;padding:0px;font-family:verdana;}
.edit-table {width:100%;max-width:100%;}

tr.edit-row {margin:5px 0 2px 0;}
tr.edit-sub-row {margin:3px 0 2px 0;}
td.edit-field {min-height:24px;padding:0 2px;}
td.edit-field label {font-family:verdana;font-size:12px;}

table.edit-marriage-table {display:none;width:100%;  border: 1px solid #b29269;padding:2px;}
td.marriage-title-cell {font-weight:bold;}
tr.edit-marriage-row {border:1px solid #b29269;margin:2px;}
.comment-textarea {width:98%;margin-left:1%;font-family:arial;height:6em;padding:2px;}

pre {font-size:10px;font-family:arial;word-wrap:break-word;padding:3px;max-width:600px;}

#submit-confirm-overlay {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.1);
	z-index: 10000;
	}
#confirm-container {
	position: relative;
	width:40%;
	border:4px solid #b29269;
	background-color:#fff;
	margin-left:30%;
	margin-top:20px;
	padding:10px;
	text-align:center;
	max-height: 80vh;
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* overflow: scroll; */
}

.submit-confirm-head{
	flex-shrink: 0;
}

.submit-confirm-body{
		 flex-grow: 1;
    overflow: auto;
    min-height: 2em;
}

.submit-confirm-footer{
	flex-shrink: 0;
}
tbody.changed-data{
	
}

table.confirm {width:100%;margin:10px 0px;border:2px solid #b29269;}
table.confirm th {background-color:#eee;font-weight:normal;}
table.confirm td {padding:2px;font-family:verdana;margin-left:10px;font-size:12px;}
#confirm-buttons {margin-top:10px;padding:2px;text-align:center;height:30px;}
#confirm-comment-container { display:none;}
.confirm-title {text-align:left;font-family:garamond;font-weight:bold;font-size:16px;}
#confirm-comment {word-wrap:break-word;margin:0px;font-family:verdana;font-size:12px;
				padding:5px;font-weight:normal;border:2px solid #b29269;text-align:left;}